@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400&family=Noto+Serif:wght@500;700&family=Noto+Sans+TC:wght@300;400&family=Noto+Serif+TC:wght@500;700&family=Noto+Sans+SC:wght@300;400;500;700&family=Noto+Serif+SC:wght@300;500;700&display=swap');

.markdown ul,
.markdown ol {
  @apply ml-24;
}
.markdown ul {
  @apply list-disc;
}
.markdown ol {
  @apply list-decimal;
}
.markdown li:not(:first-child) {
  @apply mt-10;
}

.markdown h1 {
  @apply text-primary;
  @apply font-bold;
  @apply font-serif;
  @apply text-28;
  @apply mb-16;
}
.markdown h1:not(:first-child) {
  @apply mt-24;
}

.markdown h2,
.markdown h3 {
  @apply text-secondary;
  @apply font-bold;
  @apply mt-20;
  @apply mb-14;
}
.markdown h2:not(:first-child),
.markdown h3:not(:first-child) {
  @apply mt-20;
}

.markdown h4,
.markdown h5,
.markdown h6 {
  @apply mb-12;
}
.markdown h4:not(:first-child),
.markdown h5:not(:first-child),
.markdown h6:not(:first-child) {
  @apply mt-16;
}

.markdown h2 {
  @apply text-20;
}

.markdown h3,
.markdown h4 {
  @apply text-18;
}

.markdown p:not(:first-child),
.markdown ul:not(:first-child),
.markdown ol:not(:first-child) {
  @apply mt-20;
}

.interview-content section:not(:first-child) {
  @apply mt-40;
}

.ReactModal__Overlay {
  opacity: 0;
  transform: translateY(-100%);
  transition-property: opacity, transform;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.ReactModal__Overlay--after-open {
  opacity: 1;
  transform: translateY(0);
}

.ReactModal__Overlay--before-close {
  transform: translateY(-100%);
  transition-timing-function: ease-in;
}

.ais-Highlight-highlighted {
  color: #FF0000;
  font-style: unset;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.menu-item {
  animation-name: fade-in;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

.swiper-wrapper {
  display: flex;
  align-items: center;
}

html {
  color: #333;
}

html[lang="zh"] *,
html[lang="cn"] * {
  letter-spacing: 0.075em !important;
}

html[lang="en"] * {
  letter-spacing: 0 !important;
}
